.header{
  height: 55px;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 20px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style:solid;
  border-bottom-color: rgb(201, 201, 201);
  z-index: 10;
}

.left-section{
  display: flex;
  align-items: center;
}
.humburger-icon{
  width:28px;
  margin-left: 20px;
  margin-right: 20px;
}
.youtube-icon{
  width:100px;
}

.middle-section{
  flex:1;
  margin-left: 130px;
  margin-right: 50px;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.searchbar{
  flex:1;
  padding-left: 14px;
  font-size: 16px;
  width:350px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  border-color: grey;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background-color: rgb(236, 235, 235);
  width: 0; /*the element will shrink when tab is minimized*/
}
.searchbar::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.mic-icon{
  width:25px;
  margin-top: 3px;
}
.search-icon{
  width:25px;
  height: 40px;
}
.search-icon-button{
  width: 80px;
  margin-right: 20px;
  height: 45px;
  border-style: solid;
  border-color: grey;
  border-bottom-right-radius:22px ;
  border-top-right-radius:22px ;
  background-color: rgb(236, 235, 235);
  margin-left: -1px;
}
.mic-icon-button{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(236, 235, 235);
  
}

.right-section{
  width:210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;   /* prevents shrinking of items when tab is minimized*/
}
.create-icon{
  width:34px;
}
.group-icon{
  width:34px;
}
.notif-icon{
  width:34px;
}
.notif-icon-div{
  position: relative;
}
.notif-count{
  position: absolute;
  top: 0;
  right:0;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 13px;
  width: 16px;
  border-radius: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.pfp-icon{
  width:34px;
  border-radius: 17px;
}