.sidebar{
  background-color: white;
  position: fixed;
  top:55px;
  bottom:0;
  left:0;
  width: 80px;
  z-index: 200;
}

.sidebar-link{
  height: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(231, 231, 231);
}
.sidebar-link img{
  height: 30px;
}
.sidebar-link div{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding-top: 3px;
  font-weight: 500;
}