.thumbnail{
      width:100%;
      border-radius: 12px;
      cursor:pointer;
}
.thumbnail-div{
  position: relative;
}
.time{
  position: absolute;
  bottom:10px;
  right:10px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px;
  font-weight: 500;
  border-radius: 2px;
}
.pfp{
  border-radius: 20px;
  width: 38px;
  display: inline-block;

}
.pfp, .title{
  vertical-align:bottom;
}
.title {
  color:rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  size: 14px;
  font-weight: 520;
  width: 295px;
  line-height: 22px;
  margin-top: 0px;
  margin-bottom: 5px;
}
.stats , .channel{
  color:rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 0px; 
  margin-bottom: 5px;
  font-size:14px;
}
.info{
  margin-top: 10px;
  display:grid;
  grid-template-columns: 50px 1fr;
}
.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

/*.channel{
  display: inline-block; utni hi space lega jitna hai
}
.stats{
  display: inline-block;
}*/